*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image_section{
background-image: url("/assets/img/header-bg.jpg");
height: 100vh;
min-height: 800px;
background-size: cover;
}
.navbar .navbar-expand-lg .fixed-top{
    color: white;
    font-size: 18px;
}
.navbar .navbar-brand{
  width: 230px;
}
.icon_span{
    width: 120px;
    display: flex;
    background-color: orange;
    justify-content: center;
    border-radius: 73px;
    align-items: center;
    height: 120px;
    margin-left: 120px;
}

.bg_dark{
    background-color: #212529 !important; 
    /* transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out; */
       }
.alag li{
    margin-right: 25px;
}
@media only screen and (max-width:600px){
    .alag{
        background-color: #212529 !important;
    }
    
}
/* @media (min-width:992px){
    #mainNav{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
   } } */
   
